{% extends 'main/base.html' %}
{% block page_title %} Account {% endblock page_title %}
{% block main_content %}
<h1>Welcome, {{ client.full_name }}</h1>
<h2>Your Account Information</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Client ID</td>
        <td>{{ client.id }}</td>
        <td></td>
      </tr>
      <tr>
        <td>Account Balance</td>
        <td>{{ client.acct_balance_tzs }} TZS</td>
	<td><a href="{% url 'transfer' %}"><button type="button" class="btn btn-success">Transfer Money</button></a></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock main_content %}
