{% load static %}
<html>
  <head>
    <title>NyokaTofali</title>
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}"/>
    <style>
      body {
	background: url('/static/main/images/TSSSBG.jpg') no-repeat center center fixed;
      }
      #overview {
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
	text-align: center;
	margin-top: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-1"></div>
	<div class="col-10">
          <div id="overview">
	    <h1>{{ student.name }}</h1>
		<table class="table table-striped table-inverse">
		  <thead>
		    <tr>
		      <th>#</th>
		      <th>Problem</th>
		      <th>Score</th>
		      <th></th>
		    </tr>
		  </thead>
		  <tbody>
		    {% for p in progress %}
		    <tr>
		      <th scope="row">{{ p.problem_seqnum }}</th>
		      <td>{{ p.problem_id.name }}</td>
		      <td>{{ p.passed_tests_percent }}%</td>
		      <td>
		        <a href="/matofali/{{ student.id }}/{{ p.problem_seqnum }}">
				<button class="btn">OPEN</button>
			</a>
		      </td>
		    </tr>
		    {% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
	<div class="col-1"></div>
      </div>
    </div>
  </body>
</html>
