{% load static %}
{% load mathjax %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>PyxelDesigner</title>

    <link rel="stylesheet" href="{% static 'pyxeldesigner/css/bootstrap.min.css' %}">

    <script src="{% static 'pyxeldesigner/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'pyxeldesigner/js/popper.js-1.12.5-dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'pyxeldesigner/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pyxeldesigner/js/sha256.min.js' %}"></script>

    <style>
      #editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50px;
	left: 0;
	z-index: 0;
      }
      a:hover {
        text-decoration: none;
      }
      nav {
        position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #{{ navcolor }};
	z-index: 50;
	box-shadow: 2px -5px 11px -4px rgba(0,0,0,0.68);
	padding: 5px;
      }
      nav > span {
        float: left;
	font-size: 22px;
	margin-left: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 3px 10px;
	border-radius: 5px;
	font-weight: bold;
      }
      nav > div {
        float: right;
      }
      nav > div > * {
        margin: 0 5px;
      }
     .terminal {
       z-index: 10;
       border: solid 1px #000;
       line-height: 20px;
       height: 500px;
     }
     .terminal-output {
       height: 100%;
     }
     .terminal-output textarea {
       font-family: Courier New, Courier, monospace;
       font-size: 16px;
       background: rgba(0,0,0,0.8);
       color: #fff;
       border: none;
       padding: 0;
       margin: 0;
       width: 100%;
       height: 100%;
     }
     .terminal-output textarea:focus {
       outline: none;
     }
     #websocket-status {
	color: #ff3933;
     }
     #websocket-status.connected {
	color: #64ff33;
     }
   </style> 
  </head>
  <body>

    <div id="editor">{{ group.current_code }}</div>
    <nav>
      <span><span id="websocket-status">&#x25CF;</span> <a href="{% url 'pd.kipindi' group.id %}">{{ group.name }}</a></span>
      <div style="float: left; margin-left: 15px">
        <button id="open-elezo" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#elezoModal">ELEZO</button>
        <button id="run-goal" type="button" class="btn btn-secondary">GOAL</button>
        <button id="open-docs" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#docsModal">DOCUMENTATION</button>
      </div>
      <div style="float: right">
        <button id="run-code" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#runCodeModal">RUN</button>
        <button id="save-code" type="button" class="btn btn-secondary">SAVE</button>
        <button id="submit-code" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#submitModal">SUBMIT</button>
      </div>
    </nav>

    <div id="run-code-preamble" style="display: none">PD_STATIC_IMAGES_PATH = "{{ request.scheme }}://{{ request.get_host }}/static/pyxeldesigner/images/"</div>
    <div id="group_id" style="display: none">{{ group.id }}</div>
    <div id="problem_id" style="display: none">{{ progress.problem_id.id }}</div>
    <div id="goal-code" style="display: none">{{ progress.problem_id.solution }}</div>

    <div id="runCodeModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Run Application</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="terminal" class="terminal">
              <div class="terminal-output">
                <textarea id="term" disabled="disabled"></textarea>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="codeSubmitErrorModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submission Failed</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
	    Your submission was rejected, either due to an incorrect instructor password or a server error.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="elezoModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Elezo la Changamoto</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
		  TODO: Place elezo here.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="docsModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Pyxel Documentation</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
		  TODO: Place Pyxel documentation here.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>


    <div id="saveSuccessModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Successfully Saved</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
	    Your code was saved successfully.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div id="submitModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Submit Your Code</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
	    <label for="instructor-pwd" class="form-control-label">Instructor Password</label>
	    <input type="password" class="form-control" id="instructor-pwd">
          </div>
          <div class="modal-footer">
            <button id="instructor-submit" type="button" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script src="{% static 'pyxeldesigner/ace_1.3.1_src-min-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        window.addEventListener("load", initWebsocket);
	var term = document.getElementById("term");
        var ws = null;
        
        function initWebsocket() {
          console.log("Opening WebSocket to PyxelDesigner back-end...");
          ws = new WebSocket("ws://" + getHost());
        
          ws.onopen = function(evt) {
            console.log("WebSocket opened successfully.");
            document.getElementById("websocket-status").classList.add("connected");
          };
        
          ws.onmessage = function(evt) {
            console.log("Received message on WebSocket: " + evt.data);
            term.value += evt.data;
            term.scrollTop = term.scrollHeight;
          };
        
          ws.onclose = function() {
            document.getElementById("websocket-status")
		    .classList.remove("connected");
            console.log("WebSocket closed; will reopen after timeout.");
            setTimeout(initWebsocket, 5000);
          };
        };
        
        function sendCode(code) {
          term.value = "";
	  preamble = $('#run-code-preamble').text();
	  console.log('Sending code to backend via websocket...');
          ws.send("PD_CODE:" + preamble + "\n\n" + code);
        };

        $('button#run-code').click(function(){
	  sendCode(editor.getValue());
        });
        $('button#run-goal').click(function() {
	  sendCode($('#goal-code').text());
        });
        
        function getHost() {
          // MQUINN : Always access local NT backend, none
          // on server.
          return "127.0.0.1:8082";
        };

      var editor = ace.edit("editor");
      editor.setTheme("ace/theme/dracula");
      editor.session.setMode('ace/mode/python');
      editor.getSession().setUseWrapMode(true);
      editor.setFontSize(20);

      // Show problem description on page load.
      $('#elezoModal').modal('show');

      function saveCodeToServer(successFn, errorFn) {
	var g_id = $('#group_id').text();
	var p_id = $('#problem_id').text();
	var code = editor.getValue();
	$.post('/pyxeldesigner/save_code', {
	  group_id: g_id,
	  problem_id: p_id,
	  latest_code: code
	}).done(successFn)
	  .fail(errorFn)
      };


      $('button#save-code').click(function() {
	saveCodeToServer(function(data) {
	  console.log('Save code request succeeded with msg: ' + data);
	  $('#saveSuccessModal').modal('show');
	}, function(xhr, status, err) {
	  console.log('Save code attempt failed with msg: ' + xhr.responseText);
	  alert('An error occurred while saving your code; please tell your teacher.');
	});
      });

      $('button#submit-code').click(function() {
	var annot = editor.getSession().getAnnotations();
	for (a of annot) {
	  if (a.type == 'error') {
	    $('#htmlErrorsModal').modal('show');
	    return false;
	  }
	}
	// If no errors, return true to allow instructor pwd modal to appear.
	return true;
      });

      var submitCodeToServer = function() {
	var pwd = $('#instructor-pwd').val();
	var pwd_hash = sha256(pwd);
	var g_id = $('#group_id').text();
	var p_id = $('#problem_id').text();
	var code = editor.getValue();
	$.post('/pyxeldesigner/submit_code', {
	  instructor_pwd_hash: pwd_hash,
	  group_id: g_id,
	  problem_id: p_id,
	  submitted_code: code
	}).done(function(data){
	   console.log('Code submission succeeded with msg: ' + data);
	   window.location = "/pyxeldesigner/hongera/" + g_id + "/" + p_id;	   
	}).fail(function(xhr, status, err) {
	   console.log('Code submission failed with msg: ' + xhr.responseText);

	   $('#submitModal').modal('hide');
	   $('#codeSubmitErrorModal').modal('show');
	});
      };

      $('button#instructor-submit').click(submitCodeToServer);
      $('#submitModal').keypress(function(e) {
        if(e.which == 13) {
	  submitCodeToServer();
	}
       });

      // Autosave code every 30 seconds.
      setInterval(function() {
        saveCodeToServer(function(data) {
    	    console.log('Autosave code request succeeded with msg: ' + data);
          }, function(xhr, status, err) {
	    console.log('Save code attempt failed with msg: ' + xhr.responseText);
          });
      }, 30000);
	  
    </script>
  </body>
</html>
